/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body, html {
    font-family: 'Arial', sans-serif;
    background-color: #e8f8f5;
    color: #333;
  }
  

  /* Header */
  header {
    text-align: center;
    padding: 30px;
    background-color: #ffead6;
    color: #333;
    font-size: 2.5em;
  }
  
  /* Sections Styling */
  section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Ingredients Grid */
  .ingredient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .ingredient {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .ingredient img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .ingredient:hover {
    transform: scale(1.1);
  }
  
  .ingredient span {
    display: block;
    margin-top: 5px;
    font-size: 1em;
  }
  
  /* Navigation Buttons */
  .navigation {
    margin-top: 20px;
  }
  
  button {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #ff7f50;
  }
  


  